<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings>
        <!--
        Sets the applications theme color. Valid colors are:
            - light
            - dark
        -->
        <add key="theme" value="light" />
        
        <!--
        Sets the applications theme accent color. Valid colors are:
            - blue
            - green
            - orange
            - purple
            - red
        -->
        <add key="accent" value="blue" />
        
        <!--
        Ignores the given files in the updater from being overwritten and shown.
        Separate files with a semi-colin.
            ex. file1.txt;file2.txt;file3.exe
            
        Matching is done using regular expressions; this allows for more unique filtering.
        For example, you can ignore all files in a directory using:
            Extensions/*
            
        For example, you can ignore all dll files using:
            .*\.dll
        -->
        <add key="ignoreFiles" 
             value="Config/Boot/*;Scripts/Default.txt" 
             />
    </appSettings>
    
</configuration>
